.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.bg-dark-grey {
    background-color: #C0C0C0;
}

.bg-dark-red {
    background-color:  #AF5461;
}

.bg-dark-blue {
    background-color: #006D90;
}